body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #84a9f4;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #aedb99;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1em;
}

main {
  padding: 20px;
}

article {
  border: 2px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  background-color: white;
}

h2 {
  color: #ffffff;
  background-color: #e79fdc;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #999;
}
